bitrix/backup/
bitrix/cache/
bitrix/catalog_export/
bitrix/crontab/
bitrix/html_pages/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/stats/
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/modules/updater.log
bitrix/modules/updater_partner.log
bitrix/modules/error.log.old
bitrix/themes/.default/modules.css
aspro_regions/

.idea
.well-known
/.htaccess
.htaccess
/upload
upload/

/*.txt
/*.html
~*.php
*.log
*.xml
Thumbs.db
.DS_Store
._.DS_Store
*.iml
*.xml
*.sql
*.log
*.old
*.zip
yandex*.html
google*.html
log.txt
log*.txt
robots.txt