.categ_title, .product_title {text-align:center;font-weight:bold;font-size:18px;text-transform:uppercase;min-height:28px!important;line-height:58px!important;}
.categ_title {border-bottom: 1px solid #f6f6f6;}
.categ_name{margin: 2px 0;}
